.include-custom-font(@src, @family, @weight: normal, @style: normal) {
  @font-face {
    src: url("../../fonts/@{src}.woff") format("woff"),
    url("../../fonts/@{src}.woff2") format("woff2");

    font-family: @family;
    font-weight: @weight;
    font-style: @style;
  }
}

.btn() {
  font-size: 17px;
  font-weight: bold;
  line-height: 17px;

  display: block;

  padding: 16px;

  cursor: pointer;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  color: @btnText;
  border: 2px solid @btnBorder;
  background-color: @btnBackground;
}

.center() {
  margin-right: auto;
  margin-left: auto;
}

.clearfix() {
  display: table;
  clear: both;

  content: "";
}

.set-wrapper-padding() {
  padding-right: @mobilePadding;
  padding-left: @mobilePadding;

  @media @tablet {
    padding-right: @tabletPadding;
    padding-left: @tabletPadding;
  }

  @media @desktop {
    padding-right: @desktopPadding;
    padding-left: @desktopPadding;
  }
}

.set-box() {
  position: absolute;
  top: -10px;
  left: 0;

  width: 40px;
  height: 40px;
  margin-right: 22px;

  content: "";

  border: 2px solid @formFilterBorder;
}
