// #colors
@white: #fff;
@black: #000;
@very-dark-red: #221f1f;
@very-light-gray: #ececec;
@very-light-gray-lighter: #f1f1f1;
@moderate-cyan: #63d1bb;
@moderate-cyan-darker: #56c3b2;

// #blocks
// __wrapper
@wrapper-padding: 9.375%;

// header background color
@header-bg-color: @white;

// header title background color
@header-title-bg-color: @very-light-gray-lighter;

// menu background color
@menu-bg-color: @white;

// catalog short colors
@catalog-short-txt-color: @white;
@catalog-short-bg-color-1: @moderate-cyan;
@catalog-short-bg-color-2: @moderate-cyan-darker;
