// #colors
@white: #fff;
@black: #000;
@very-dark-red: #221f1f;
@very-light-gray: #ececec;
@very-light-gray-lighter: #f1f1f1;
@moderate-cyan: #63d1bb;
@moderate-cyan-darker: #56c3b2;
@dark-gray: #444;
@light-gray: #c6c6c6;
@transparent-black-25: rgba(0, 0, 0, 0.25);
@transparent-black-50: rgba(0, 0, 0, 0.5);
@transparent-dark-gray-30: fade(@dark-gray, 0.3);
@dark-cyan: #149080;
@very-light-gray-darker: #e5e5e5;

// color-scheme (add new row scheme-color-# if you need additional scheme color)
@scheme-color-1: @white;
@scheme-color-2: @black;
@scheme-color-3: @very-dark-red;
@scheme-color-4: @very-light-gray;
@scheme-color-5: @very-light-gray-lighter;
@scheme-color-6: @moderate-cyan;
@scheme-color-7: @moderate-cyan-darker;
@scheme-color-8: @dark-gray;
@scheme-color-9: @light-gray;
@scheme-color-10: @dark-cyan;
@scheme-color-11: @very-light-gray-darker;
// transparent scheme colors
@scheme-color-transparent-1: @transparent-black-25;
@scheme-color-transparent-2: @transparent-dark-gray-30;
@scheme-color-transparent-3: @transparent-black-50;

// dimensions
@min-width: 320px;

// blocks
// __wrapper
@wrapper-padding: 9.375%;
