// BREAKPOINTS
@tabletWidth: 768px;
@desktopWidth: 1150px;

// bound variables
@tabletBeforeWidth: (@tabletWidth - 1px);
@desktopBeforeWidth: (@desktopWidth - 1px);

// MEDIA CONDITIONS
@tablet: ~"screen and (min-width: @{tabletWidth})";
@desktop: ~"screen and (min-width: @{desktopWidth})";

@mobileOnly: ~"screen and (max-width: @{tabletBeforeWidth})";
@tabletOnly: ~"screen and (min-width: @{tabletWidth}) and (max-width: @{desktopBeforeWidth})";

// intermediate media conditions
@mobileIntermediate: ~"screen and (min-width: @{mobileIntermediateWidth})";
@mobileIntermediateTablet: ~"screen and (min-width: @{mobileIntermediateWidth}) and (max-width: @{desktopBeforeWidth})";

// key widths
@minWidth: 320px;
@maxWidth: 700px; //center mobile content
@tabletMaxWidth: 900px; //center desktop content
@desktopMaxWidth: 1200px;

// intermediate breakpoints
@mobileIntermediateWidth: (@minWidth * 2);

// main menu heights and offset
@MenuItemMinHeight: 79px;
@tabletMenuItemMinHeight: 89px;

@tabletMenuItemVerticalOffset: -1*(@tabletMenuItemMinHeight);

// catalog parts heights
@catalogPartsMinHeight: 103px;
@catalogPartsTabletMinHeight: 119px;

// paddings
@mobileSideOffset: 30px;
@tabletSideOffset: 50px;
@desktopSideOffset: 50px;

// offsets
@tabletOffset: 167px;
@desktopOffset: 175px;

// filter dimensions
@mobileBox: 40px;
@tabletBox: 52px;

// #colors
@white: #fff;
@black: #000;
@veryDarkRed: #221f1f;
@darkGray: #444;
@lightGray: #c6c6c6;
@veryLightGrayDarker: #e5e5e5;
@veryLightGray: #ececec;
@veryLightGrayLighter: #f1f1f1;
@darkCyan: #149080;
@moderateCyan: #63d1bb;
@moderateCyanDarker: #56c3b2;
