.page-footer {
  background-color: @footerBackground;
  width: 100%;
  min-width: @minWidth;

  &__wrapper {
    .set-wrapper-padding();
    .center();

    min-width: @minWidth;
    max-width: @maxWidth;
  }
}
