.pop-up {
  &__wrapper {
    .center();
    padding-top: 35px;
    padding-bottom: 46px;

    outline: 1px solid @popupBorder;
    box-shadow: 0 5px 10px fade(@popupShadow, 25%);
    max-width: 566px;
    min-height: 336px;

    @media @mobileOnly {
      padding-left: @mobilePadding;
      padding-right: @mobilePadding;
    }

    @media @tablet {
      padding-left: 106px;
      padding-right: 106px;
      padding-top: 37px;
    }
  }

  &__title {
    margin-top: 0;


    text-align: center;
    text-transform: uppercase;

    @media @mobileOnly {
      font-size: 25px;
      line-height: 30px;
          margin-bottom: 18px;
    }

    @media @tablet {
      font-size: 30px;
      line-height: 57px;
      margin-bottom: 19px;
    }
  }
}
