.catalog-parts {
  margin: 0;
  padding: 0;

  list-style: none;

  @media @tablet {
    justify-content: center;

    display: flex;

    margin-top: -@catalogPartsTabletMinHeight;
    margin-right: @tabletSideOffset;
    margin-left: @tabletSideOffset;
  }

  &__item {
    @media @tablet {
      width: 50%;
    }

    &--first-color {
      background-color: @linkFirstBackground;
    }

    &--second-color {
      background-color: @linkSecondBackground;
    }
  }

  &__link {
    align-items: center;
    justify-content: space-between;

    .set-wrapper-padding();

    font-weight: bold;

    display: flex;

    min-height: @catalogPartsMinHeight;

    text-decoration: none;

    color: @linkColor;

    @media @tablet {
      min-height: @catalogPartsTabletMinHeight;
      padding-right: 36px;
      padding-left: 36px;
    }
  }

  &__title {
    font-size: 19px;
    line-height: 24px;

    width: 130px;
    margin-top: 15px;

    @media @tablet {
      font-size: 20px;
      line-height: 30px;
    }
  }

  &__icon {
    display: block;

    opacity: 0.5;

    @media @mobileOnly {
      margin-top: 4px;
    }
  }
}
