.company {
  padding-top: 14px;
  padding-bottom: 35px;

  &__wrapper {
    .set-wrapper-padding();
    .center();
    min-width: @minWidth;
    max-width: @maxWidth;
  }

  &__title {
    font-size: 25px;
    line-height: 30px;

    margin-bottom: 31px;
  }

  &__features {
    font-weight: bold;

    padding-left: 0;

    list-style: none;
  }

  &__advantage {
    font-size: 17px;
    line-height: 17px;
  }
}
