.contacts {
  @media @mobileOnly {
    padding-top: 35px;
    padding-bottom: 39px;
  }

  @media @tabletOnly {
    padding-top: 44px;
    padding-bottom: 59px;
  }

  @media @desktop {
    position: relative;

    margin-top: 71px;
    margin-right: 50%;
    margin-left: @desktopSideOffset;
    padding-top: 57px;
    padding-bottom: 106px;
  }

  &__wrapper {
    @media @mobileOnly {
      padding-right: @mobileSideOffset;
      padding-left: @mobileSideOffset;
    }

    @media @tabletOnly {
      justify-content: space-between;

      padding-right: @tabletSideOffset;
      padding-left: @tabletSideOffset;
    }

    @media @tablet {
      align-items: center;
      flex-wrap: wrap;

      display: flex;
    }

    @media @desktop {
      padding-left: @desktopOffset;
    }

    &--align-top {
      @media @tablet {
        align-items: flex-start;
      }

      @media @desktop {
        padding-right: @desktopSideOffset;
      }
    }

    &--no-padding {
      @media @desktop {
        padding-left: 0;
      }
    }
  }

  &__container {
    @media @desktop {
      width: @desktopOffset;
    }
  }

  &__title {
    margin-top: 0;

    @media @mobileOnly {
      font-size: 18px;
      line-height: 30px;

      margin-bottom: 25px;
    }

    @media @tabletOnly {
      font-size: 43px;
      line-height: 50px;
    }

    @media @tablet {
      margin-bottom: 0;
    }

    @media @desktop {
      order: 1;

      font-size: 53px;
      line-height: 57px;
    }
  }

  &__container {
    @media @mobileOnly {
      display: none;
    }
  }

  &__icon {
    display: block;

    @media @desktop {
      margin-right: auto;
      margin-left: auto;
    }
  }

  &__items {
    align-items: flex-start;

    display: flex;


    @media @mobileOnly {
      margin-top: 0;
      margin-bottom: 30px;
    }

    @media @tabletOnly {
      width: 50%;
    }

    @media @tablet {
      font-size: 17px;
      line-height: 30px;

      margin-top: 35px;
    }

    @media @desktop {
      margin-top: 37px;
    }

    &:nth-child(2) {
      @media @desktop {
        margin-top: 29px;
      }
    }
  }

  &__item {
    min-width: 77px;
    margin: 0;
  }

  &__content {
    margin-top: 0;
    margin-bottom: 0;

    &--border {
      border-bottom: 1px solid @emailBorder;
    }
  }

  &__map {
    min-width: 320px;
    min-height: 457px;

    background-color: @veryLightGrayLighter;
    background-image: url("../img/icons/icon-map-pin.svg"),
    url("../img/maps/map-mobile@1x.jpg");
    background-repeat: no-repeat;


    @media @mobileOnly {
      margin-top: 37px;

      background-position: 123px 165px, top center;
    }

    @media @tabletOnly {
      margin-top: 54px;

      background-position: 348px 165px, top center;
    }

    @media @desktop {
      position: absolute;
      top: 0;
      right: -100%;

      width: 100%;

      background-position: 238px 165px, top center;
    }
  }

  &__btn {
    .btn();

    @media @mobileOnly {
      margin-top: 39px;
    }

    @media @tablet {
      width: 230px;
      margin-right: auto;
    }

    @media @tabletOnly {
      margin-top: 56px;
      margin-left: auto;
    }

    @media @desktop {
      margin-top: 79px;
    }
  }
}
