.contacts {
  @media @mobileOnly {
    padding-top: 38px;
  }

  @media @tabletOnly {
    padding-top: 46px;
  }

  @media @desktop {
    margin-top: 71px;
    padding-top: 62px;
    position: relative;
    margin-left: @desktopPadding;
    margin-right: @desktopPadding;
    margin-right: 50%;
  }

  &__wrapper {
    @media @mobileOnly {
      padding-right: @mobilePadding;
      padding-left: @mobilePadding;
    }

    @media @tabletOnly {
      justify-content: space-between;

      padding-right: @tabletPadding;
      padding-left: @tabletPadding;
    }

    @media @tablet {
      align-items: center;
      flex-wrap: wrap;

      display: flex;
    }

    @media @desktop {
      padding-left: @desktopOffset;
    }

    &--align-top {
      @media @tablet {
        align-items: flex-start;
      }
    }

    &--no-padding {
      @media @desktop {
        padding-left: 0;
      }
    }
  }

  &__container {
    @media @desktop {
      width: @desktopOffset;
    }
  }

  &__title {
    margin-top: 0;

    @media @mobileOnly {
      font-size: 18px;
      line-height: 30px;

      margin-bottom: 30px;
    }

    @media @tabletOnly {
      font-size: 43px;
      line-height: 50px;
    }

    @media @tablet {
      margin-bottom: 0;
    }

    @media @desktop {
      order: 1;

      font-size: 53px;
      line-height: 57px;
    }
  }

  &__container {
    @media @mobileOnly {
      display: none;
    }
  }

  &__icon {
    display: block;

    @media @tablet {
      margin-top: auto;
      margin-bottom: auto;
    }

    @media @desktop {
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__items {
    align-items: flex-start;

    display: flex;


    @media @mobileOnly {
      margin-top: 28px;
      margin-bottom: 5px;
    }

    @media @tabletOnly {
      width: 50%;
    }

    @media @tablet {
      font-size: 17px;
      line-height: 30px;
      margin-top: 35px;
    }

    &:nth-child(2) {
      @media @desktop {
        margin-top: 32px;
      }
    }
  }

  &__item {
    min-width: 77px;
    margin: 0;
  }

  &__content {
    margin-top: 0;
    margin-bottom: 0;

    &--border {
      padding-bottom: 5px;

      border-bottom: 1px solid @emailBorder;
    }
  }

  &__map {
    min-width: 320px;
    min-height: 457px;

    background-color: @veryLightGrayLighter;
    background-image: url("../img/maps/map-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: top center;

    @media @mobileOnly {
      margin-top: 35px;
    }

    @media @tabletOnly {
      margin-top: 54px;
    }

    @media @desktop {
      position: absolute;
      top: 0;
      right: -100%;
      width: 100%;
    }
  }

  &__btn {
    .btn();

    @media @mobileOnly {
      margin-top: 39px;
      margin-bottom: 39px;
    }

    @media @tablet {
      width: 230px;

      margin-right: auto;
      margin-bottom: 57px;
    }

    @media @tabletOnly {
      margin-left: auto;
            margin-top: 55px;
    }

    @media @desktop {
      margin-top: 70px;
      margin-bottom: 105px;
    }
  }
}
