.form-order {
  @media @mobileOnly {
    padding-bottom: 55px;
  }

  &__description {
    .center();

    color: @txtContent;
    margin-bottom: 0;
    margin-top: 0;

    @media @mobileOnly {
      font-size: 13px;
      line-height: 24px;
      margin-bottom: 23px;
    }

    @media @tabletOnly {
      padding-left: @tabletSideOffset;
      padding-right: @tabletSideOffset;
    }

    @media @tablet {
      font-size: 17px;
      line-height: 30px;
      margin-bottom: 55px;
    }

    @media @desktop {
      padding-left: (@desktopSideOffset + @desktopOffset);
      padding-right: (@desktopSideOffset + @desktopOffset);
    }
  }

  &__fieldset {
    .center();

    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
    width: 100%;

    @media @mobileOnly {
      border-bottom: none;
      border-left: none;
      border-right: none;
      border-top: 1px solid @formFieldsetBorder;
      padding-left: 0;
      padding-right: 0;
    }

    @media @tabletOnly {
      padding-left: (@tabletSideOffset + @tabletOffset);
      padding-right: @tabletSideOffset;
    }

    @media @tablet {
      border: none;
      display: flex;
      position: relative;
    }

    @media @desktop {
      padding-left: (@desktopSideOffset + @desktopOffset);
      padding-right: (@desktopSideOffset + @desktopOffset);
    }

    &--filter {
      @media @desktop {
        padding-right: @desktopSideOffset;
      }
    }

    &--contacts {
      &:not(:last-child) {
        @media @mobileOnly {
          padding-bottom: 39px;
        }

        @media @tablet {
          padding-bottom: 24px;
        }
      }
    }
  }

  &__legend {
    color: @formLegendText;
    font-size: 17px;
    font-weight: bold;
    line-height: 17px;
    text-transform: uppercase;

    @media @mobileOnly {
      margin-bottom: 34px;
      padding-right: 22px;
    }

    @media @tabletOnly {
      left: @tabletSideOffset;
      width: @tabletOffset;
    }

    @media @tablet {
      position: absolute;
      top: 17px;
    }

    @media @desktop {
      left: @desktopSideOffset;
      text-align: center;
      width: @desktopOffset;
    }

    &--filter {
      @media @mobileOnly {
        margin-bottom: 24px;
      }
    }

    &--name {
      @media @mobileOnly {
        margin-bottom: 26px;
      }
    }

    &--short {
      margin-bottom: 0;
    }

    &--textarea {
      @media @mobileOnly {
        margin-bottom: 32px;
      }
    }
  }

  &__filters {
    list-style: none;
    margin: 0;
    padding: 0;

    &--checkbox {
      @media @mobileIntermediate {
        display: flex;
        flex-wrap: wrap;
      }

      @media @tabletOnly {
        justify-content: space-between;
      }
    }
  }

  &__item {
    padding-top: 0;

    &:not(:last-child) {
      @media @mobileOnly {
        margin-bottom: 21px;
      }

      @media @tablet {
        margin-bottom: 24px;
      }
    }

    &--radio {
      &:not(:last-child) {
        @media @mobileOnly {
          margin-bottom: 21px;
        }
      }
    }

    &--checkbox {
      @media @mobileIntermediateTablet {
        width: 239px;
      }

      @media @desktop {
        width: 263px;
      }
    }
  }

  &__filter {
    display: none;

    &--radio {
      &:checked + label::after {
        background-color: @formFilterChecked;
        border-radius: 50%;
        content: "";
        top: 50%;
        transform: translateX(-50%) translateY(-50%);

        @media @mobileOnly {
          height: 16px;
          left: @mobileCheckBoxSize/2;
          margin-top: -2px;
          width: 16px;
        }

        @media @tablet {
          height: 22px;
          left: @tabletCheckBoxSize/2;
          width: 22px;
        }
      }
    }

    &--checkbox {
      &:checked + label::after {
        background-image: url("../img/icons/icon-tick.svg");
        background-position: center;
        background-repeat: no-repeat;
        content: "";
        left: 0;

        @media @mobileOnly {
          height: @mobileCheckBoxSize;
          width: @mobileCheckBoxSize;
        }

        @media @tablet {
          height: @tabletCheckBoxSize;
          width: @tabletCheckBoxSize;
        }
      }
    }
  }

  &__label {
    cursor: pointer;
    font-weight: bold;
    position: relative;

    @media @mobileOnly {
      font-size: 17px;
      line-height: 18px;
    }

    @media @tablet {
      font-size: 19px;
      line-height: 19px;
    }

    &:hover {
      &::before {
        border-color: @formFilterBorderHover;
      }
    }

    &:active {
      &::before {
        border-color: fade(@formFilterBorderActive, 30%);
      }
    }

    &::after {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    &--radio {
      align-items: center;
      display: flex;

      &::before {
        .set-box();

        border-radius: 50%;

        @media @mobileOnly {
          margin-top: -4px;
        }
      }
    }

    &--checkbox {
      align-items: center;
      display: flex;

      &::before {
        .set-box();
      }
    }

    &--icon {
      margin-top: 5px;
      opacity: 0.2;
      position: absolute;
      right: 4px;
      top: 50%;
      transform: translateY(-50%);

      @media @tabletOnly {
        margin-right: 22px;
      }
    }

    &--legend {
      font-size: 17px;
      line-height: 17px;
    }

    &--icon {
      transition-property: fill, opacity;
      transition-duration: 150ms;
      transition-timing-function: ease-out;
    }
  }

  &__wrapper {
    position: relative;

    @media @mobileOnly {
      padding-left: @mobileSideOffset;
      padding-right: @mobileSideOffset;
    }

    @media @tablet {
      padding-bottom: 20px;
    }

    &--type {
      @media @mobileOnly {
        padding-bottom: 28px;
        padding-top: 23px;
      }

      @media @tabletOnly {
        padding-bottom: 53px;
        padding-top: 71px;
      }

      @media @desktop {
        padding-bottom: 53px;
        padding-top: 120px;
      }
    }

    &--filter {
      @media @mobileOnly {
        padding-bottom: 32px;
      }

      @media @tablet {
        padding-bottom: 38px;
        padding-top: 61px;
      }
    }

    &--name {
      @media @mobileOnly {
        padding-bottom: 33px;
      }

      @media @tabletOnly {
        padding-top: 48px;
      }

      @media @tablet {
        padding-bottom: 67px;
      }

      @media @desktop {
        padding-top: 51px;
      }
    }

    &--contacts {
      @media @mobileOnly {
        padding-bottom: 33px;
      }

      @media @tablet {
        padding-bottom: 67px;
        padding-top: 53px;
      }
    }

    &--color {
      @media @tablet {
        background-color: @formFieldsetBackground;
      }
    }

    &--textarea {
      @media @tablet {
        padding-bottom: 54px;
        padding-top: 63px;
      }

      @media @desktop {
        padding-bottom: 91px;
      }
    }

    &--submit {
      margin-left: auto;
      margin-right: auto;

      @media @mobileOnly {
        max-width: (@maxWidth + @mobileSideOffset*2);
        padding-left: @mobileSideOffset;
        padding-right: @mobileSideOffset;
        padding-top: 9px;
      }

      @media @tabletOnly {
        max-width: @tabletMaxWidth;
        padding-bottom: 53px;
        padding-left: @tabletSideOffset;
        padding-right: @tabletSideOffset;
      }

      @media @tablet {
        align-items: baseline;
        display: flex;
        justify-content: space-between;
      }

      @media @desktop {
        max-width: @desktopMaxWidth;
        padding-bottom: 96px;
        padding-left: (@desktopSideOffset + @desktopOffset);
        padding-right: (@desktopSideOffset + @desktopOffset);
      }
    }
  }

  &__container {
    &--name {
      @media @tablet {
        align-items: center;
        display: flex;
      }

      &:not(:last-child) {
        margin-bottom: 24px;
        @media @mobileOnly {
          margin-bottom: 16px;
        }
      }
    }

    &--contacts {
      position: relative;
    }
  }

  &__text {
    .set-placeholder();

    border: none;
    box-shadow: inset 0 -2px @formBorder;
    color: @formText;
    min-height: 52px;
    width: 100%;
    transition: box-shadow 150ms ease-out;

    &:hover {
      box-shadow: inset 0 -2px @formBorderHover;
    }

    &:active {
      box-shadow: inset 0 -2px @formBorderActive;
    }

    &:focus {
      box-shadow: inset 0 -2px @formBorderFocus;
      outline: none;
    }

    // &:invalid {
    //   box-shadow: inset 0 -2px @formBorderInvalid;
    // }

    &:hover + label {
      fill: @iconFormContactsFillHover;
      opacity: 1;
    }

    &:active + label {
      fill: @iconFormContactsFillActive;
      opacity: 1;
    }

    &:focus + label {
      fill: @iconFormContactsFillFocus;
      opacity: 1;
    }

    @media @mobileOnly {
      font-size: 17px;
      line-height: 18px;
    }

    @media @tablet {
      font-size: 19px;
      line-height: 19px;
    }

    &--name {
      @media @mobileOnly {
        margin-top: -6px;
      }

      @media @tablet {
        margin-left: 25px;
        padding-left: 17px;
      }
    }

    &--contacts {
      .set-placeholder();

      padding-right: 40px;

      @media @mobileOnly {
        margin-top: 7px;
      }

      @media @tablet {
        background-color: @formFieldsetBackground;
        padding-left: 17px;
      }
    }
  }

  &__textarea {
    .set-placeholder();

    border: 2px solid @formTextAreaBorder;
    display: block;
    min-height: 142px;
    resize: vertical;
    width: 100%;
    transition: border-color 150ms ease-out;

    @media @mobileOnly {
      font-size: 17px;
      line-height: 18px;
      padding: 15px;
    }

    @media @tablet {
      font-size: 19px;
      line-height: 19px;
      padding: 17px;
    }

    &:hover {
      border-color: @formTextAreaBorderHover;
    }

    &:active {
      border-color: @formTextAreaBorderActive;
    }

    &:focus {
      border-color: @formTextAreaBorderFocus;
      outline: none;
    }

    // &:invalid {
    //   border-color: @formTextAreaBorderInvalid;
    // }
  }

  &__note {
    color: @txtContent;
    line-height: 30px;
    margin-top: 0;

    @media @mobileOnly {
      font-size: 14px;
      margin-bottom: 15px;
    }

    @media @tablet {
      font-size: 17px;
      margin-bottom: 0;
      order: 1;
    }
  }

  &__show {
    &--mobile {
      @media @tablet {
        display: none;
      }
    }

    &--tablet {
      @media @mobileOnly {
        display: none;
      }
    }
  }

  &__btn {
    .btn();

    @media @mobileOnly {
      width: 100%;
    }

    @media @tablet {
      width: 230px;
    }
  }
}
