.form-cart {
  &__fieldset {
    font-size: 0;

    width: 100%;
    margin-bottom: 31px;

    text-align: center;

    border: none;
  }

  &__legend {
    text-align: center;
    line-height: 30px;

    color: @formText;

    @media @mobileOnly {
      font-size: 15px;

      margin-bottom: 25px;
    }

    @media @tablet {
      font-size: 17px;
      margin-bottom: 24px;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__select {
    display: none;
    &:checked + label {
      border-color: @formSizeCheckedBorder;
    }
  }

  &__label {
    .btn();

    color: @formText;
    border-color: fade(@formSizeBorder, 10%);

    @media @mobileOnly {
      width: 31.16%;
    }

    @media @tablet {
      width: 32%;
    }

    &:not(:last-child) {
      margin-right: 7px;
    }
  }

  &__btn {
    .btn();

    width: 100%;

    color: @btnCartAddText;
    border-color: @btnCartAddBackground;
    background-color: @btnCartAddBackground;
  }
}
