.form-order {
  padding-bottom: 55px;
  .set-wrapper-padding();
  .center();

  min-width: @minWidth;
  max-width: @maxWidth;

  &__description {
    font-size: 13px;
    line-height: 24px;

    margin-bottom: 25px;

    color: @txtContent;
  }

  &__fieldset {
    width: 100%;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 36px;
    margin-left: 0;
    padding: 0;

    border-top: 1px solid @formFieldsetBorder;
    border-right: none;
    border-bottom: none;
    border-left: none;
  }

  &__legend {
    font-size: 17px;
    font-weight: bold;
    line-height: 17px;

    margin-bottom: 35px;
    padding-right: 22px;

    text-transform: uppercase;

    color: @formLegendText;

    &--short {
      margin-bottom: 0;
    }
  }

  &__filters {
    padding: 0;

    list-style: none;
  }

  &__item {
    padding-top: 0;

    &:not(:last-child) {
      margin-bottom: 36px;
    }
  }

  &__filter {
    display: none;

    &--radio {
      &:checked + label::after {
        position: absolute;
        top: 2px;
        left: 12px;

        width: 16px;
        height: 16px;

        content: "";

        border-radius: 50%;
        background-color: @formFilterChecked;
      }
    }

    &--checkbox {
      &:checked + label::after {
        position: absolute;
        top: -50%;
        left: 0;

        width: 40px;
        height: 40px;

        content: "";

        background-image: url("../img/icons/icon-tick.svg");
        background-repeat: no-repeat;
        background-position: center center;
      }
    }
  }

  &__wrapper {
    position: relative;
  }

  &__label {
    font-size: 17px;
    font-weight: bold;
    line-height: 18px;

    position: relative;

    display: block;

    cursor: pointer;

    &--radio {
      padding-left: 62px;

      &::before {
        .set-box();

        border-radius: 50%;
      }
    }

    &--checkbox {
      padding-left: 62px;

      &::before {
        .set-box();
      }
    }

    &--icon {
      position: absolute;
      right: 0;
      top: 27px;
      transform: translateY(-50%);
      opacity: 0.2;
    }
  }

  &__text {
    font-size: 17px;
    line-height: 18px;

    width: 100%;
    min-height: 55px;

    color: @formText;
    border: none;
    box-shadow: inset 0 -2px @formBorder;

    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  &__textarea {
    width: 100%;
    padding: 15px;

    border: 2px solid @formText;
  }

  &__note {
    font-size: 14px;
    line-height: 21px;
    color: @txtContent;
  }

  &__btn {
    .btn();

    width: 100%;
  }
}
