.main-nav {
  &__items {
    margin: 0;

    list-style: none;

    box-shadow: inset 0 1px @navBorder;

    @media @mobileOnly {
      padding: 0;
    }

    @media @tablet {
      flex-wrap: wrap;

      display: flex;

      width: 100%;
      padding-right: @tabletSideOffset;
      padding-left: @tabletSideOffset;
    }
  }

  &__item {
    position: relative;

    @media @mobileOnly {
      min-height: @MenuItemMinHeight;
      padding-top: 27px;
      padding-bottom: 27px;

      background-color: @navBackground;
      box-shadow: 0 1px @navBorder,
      inset 0 1px @navBorder;
    }

    @media @tablet {
      min-height: @tabletMenuItemMinHeight;
      padding-top: 32px;
      padding-bottom: 32px;
    }

    &--logo {
      align-items: center;
      justify-content: center;

      display: flex;

      padding-top: 20px;
      padding-bottom: 20px;

      @media @mobileOnly {
        padding-right: @mobileSideOffset;
        padding-left: @mobileSideOffset;
      }

      @media @tablet {
        width: 48.05%;
        min-width: 0;
        max-width: none;
        margin-right: 0;
        margin-left: 0;
        padding-right: 0;
        padding-left: 0;
      }

      @media @desktop {
        order: 1;

        width: 30.95%;

        text-align: center;
      }
    }

    &--catalog {
      @media @tabletOnly {
        order: 2;

        width: 25%;
        padding-top: 17px;
      }

      @media @desktop {
        order: 0;

        width: 17.62%;
        padding-top: 32px;

        border-right: 1px solid @navBorder;
      }
    }

    &--form {
      @media @tabletOnly {
        order: 2;

        width: 25%;
        padding-top: 17px;
      }

      @media @desktop {
        order: 0;

        // width: 18.09%;
        padding-top: 32px;
      }
    }

    &--search {
      @media @tablet {
        width: 84px;
        padding-top: 36px;

        border-right: 1px solid @navBorder;
        border-left: 1px solid @navBorder;
        background: none;
      }

      @media @desktop {
        order: 1;
      }
    }

    &--cart {
      @media @tablet {
        order: 1;

        margin-left: auto;
      }

      @media @desktop {
        margin-left: auto;
      }
    }

    &--novelty {
      display: none;

      background: none;
      box-shadow: none;

      @media @desktop {
        order: 2;

        display: block;

        width: 17.62%;
        padding-top: 17px;
      }
    }

    &--sales {
      display: none;

      background: none;
      box-shadow: none;

      @media @desktop {
        order: 2;

        display: block;

        width: 18.09%;
        padding-top: 17px;
      }
    }
  }

  &__toggle {
    position: relative;

    width: 20px;
    height: 14px;
    margin-left: -20px;

    background-color: transparent;
    box-shadow: inset 0 2px @btnMenuToggle;

    @media @tablet {
      display: none;
    }

    &::before {
      position: absolute;
      top: 6px;
      right: 0;

      width: 20px;
      height: 2px;

      content: "";

      background-color: @btnMenuToggle;
    }

    &::after {
      position: absolute;
      right: 0;
      bottom: 0;

      width: 20px;
      height: 2px;

      content: "";

      background-color: @btnMenuToggle;
    }
  }

  &__logo {
    .center();

    @media @tablet {
      margin-left: 0;
    }

    @media @desktop {
      margin-left: auto;
    }
  }

  &__logo-image {
    display: block;
  }

  &__link {
    font-size: 17px;
    font-weight: bold;
    line-height: 24px;

    text-decoration: none;

    color: @navText;

    @media @tablet {
    }

    &--search {
      margin-right: auto;
      margin-left: auto;
    }

    &--cart {
      @media @tablet {
        align-items: center;

        display: flex;
      }
    }

    &--small-tab {
      @media @tabletOnly {
        font-size: 15px;
      }
    }

    &--small-desk {
      @media @desktop {
        font-size: 15px;
      }
    }
  }

  &__icon {
    display: block;

    opacity: 0.2;

    @media @mobileOnly {
      position: absolute;
      top: 4px;
      left: -43px;
    }

    @media @tablet {
      position: static;

      margin: auto;
    }

    &--cart {
      @media @tablet {
        margin-right: 31px;
      }
    }
  }

  &__wrapper {
    display: block;
    line-height: 24px;

    @media @mobileOnly {
      .center();

      position: relative;

      width: 171px;
    }

    &--form {
      @media @desktop {
        margin-left: 35px;
      }
    }

    &--sales {
      @media @desktop {
        margin-left: 35px;
      }
    }
  }

  &__search {
    @media @tablet {
      display: none;
    }
  }
}
