.main-nav {
  &__items {
    min-width: @min-width;
    margin: 0;
    padding: 0;

    list-style: none;

    @media @tablet {
      flex-wrap: wrap;

      display: flex;
    }
  }

  &__item {
    .set-up-bottom-shadow();
    background-color: @navBackground;
    min-height: 79px;
    padding-top: 20px;
    padding-bottom: 20px;

    &--novelty {
      font-size: 15px;

      display: none;

      background: none;

      @media @desktop {
        display: block;
      }
    }

    &--sales {
      font-size: 15px;

      display: none;

      background: none;

      @media @desktop {
        display: block;
      }
    }
  }

  &__link {
    .set-wrapper-padding();

    font-size: 17px;
    font-weight: bold;
    line-height: 24px;

    position: relative;

    display: block;

    // min-height: 79px;
    // padding-top: 27px;
    // padding-bottom: 27px;

    text-decoration: none;

    color: @navText;

    @media @tablet {
      min-height: 88px;
      padding-top: 31px;
      padding-bottom: 31px;
    }

    &--cart {
      @media @tablet {
        align-items: center;

        display: flex;
      }
    }
  }

  &__icon {
    position: absolute;
    top: 2px;
    left: -38px;

    opacity: 0.2;

    @media @tablet {
      position: static;
    }
  }

  &__wrapper {
    .center();

    position: relative;

    display: block;

    width: 185px;

    &--hidden {
      @media @tablet {
        display: none;
      }
    }
  }
}
