.main-nav {
  &__items {
    margin: 0;
    padding: 0;
    list-style: none;
    min-width: @min-width;
  }

  &__link {
    .set-up-bottom-shadow();
    .set-wrapper-padding();

    font-size: 17px;
    font-weight: bold;
    line-height: 24px;
    padding-top: 27px;
    padding-bottom: 27px;

    display: block;

    min-height: 79px;

    text-decoration: none;

    color: @scheme-color-2;
    background-color: @scheme-color-1;
  }

  &__wrapper {
    .center();
    width: 185px;
    display: block;
  }
}
