.manufacture {
  box-shadow: inset 1px 1px @catalogBorder,
  inset -1px -1px @catalogBorder;

  @media @mobileOnly {
    margin-bottom: 58px;
    padding-bottom: 33px;
  }

  @media @tabletOnly {
    display: flex;
    flex-direction: column;

    margin-bottom: 63px;
    padding-bottom: 46px;
  }

  @media @desktop {
    position: relative;

    width: 100%;
    min-height: 455px;
    margin-top: 57px;
    margin-bottom: 105px;
    padding-left: 682px;
    padding-top: 47px;
  }

  &__wrapper {
    @media @mobileOnly {
      padding-right: 34px;
      padding-left: 34px;
    }

    @media @tabletOnly {
      order: 1;

      padding-right: 42px;
      padding-left: 42px;
    }

    @media @desktop {
      margin-right: 57px;
      margin-left: 80px;
      min-width: 230px;
    }

    &--caption {
      @media @mobileOnly {
        align-items: center;

        display: flex;

        min-height: 96px;
      }

      @media @tabletOnly {
        align-items: center;

        display: flex;

        margin-bottom: 36px;
        padding-top: 39px;

        box-shadow: inset 0 1px @catalogBorder;
      }

      @media @desktop {
        margin-bottom: 39px;
      }
    }
  }

  &__title {
    line-height: 24px;

    @media @mobileOnly {
      font-size: 17px;

      margin-top: 0;
      margin-bottom: 0;
      margin-left: 25px;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    @media @tabletOnly {
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 33px;
    }

    @media @tablet {
      font-size: 20px;
    }

    @media @desktop {
      margin-top: 29px;
    }
  }

  &__video {
    .center();

    display: flex;

    background-color: @veryLightGrayLighter;
    background-image: url("../img/video-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: center center;

    @media @mobileOnly {
      min-height: 150px;
      margin-bottom: 30px;
    }

    @media @tabletOnly {
      width: 100%;
    }

    @media @tablet {
      min-height: 455px;
    }

    @media @desktop {
      position: absolute;
      top: 50%;
      left: 0;

      width: 682px;

      transform: translateY(-50%);
    }
  }

  &__icon {
    display: block;

    &--play {
      margin: auto;

      cursor: pointer;
    }
  }

  &__description {
    color: @txtContent;

    @media @mobileOnly {
      font-size: 13px;
      line-height: 24px;

      margin-bottom: 25px;
    }

    @media @tablet {
      font-size: 15px;
      line-height: 30px;

      margin-top: 0;
      margin-bottom: 33px;
    }

    @media @desktop {
      margin-bottom: 44px;
    }
  }

  &__btn {
    .btn();
  }
}
