.social {
  align-items: center;
  justify-content: center;

  display: flex;

  min-height: 80px;
  padding: 20px;
  padding-bottom: 20px;

  @media @tablet {
    margin-right: auto;
    margin-left: auto;
  }

  &__link {
    margin-right: 21px;
    margin-left: 21px;
  }

  &__icon {
    display: block;

    margin: auto;
  }
}
