.table {
  width: 100%;
  margin-bottom: 28px;
  border-collapse: collapse;

  &__cell {
    font-size: 15px;
    line-height: 20px;
    color: @scheme-color-8;

    padding-top: 10px;
    padding-bottom: 10px;

    border-bottom: 1px solid @scheme-color-4;

    &:first-child {
      width: 37.3%;
    }
  }
}
